@media screen and (max-width: 1170px){
    .container{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .main_tt{
        font-size: 34px;
        line-height: 56px;
        width: 400px;
        height: 160px;
        margin-left: 100px;
    }
    .info_section > ul{
        width: 80%;
    }
    .secondary_btn{
        padding: 0 20px;
    }
    .news_headline{
        font-size: 16px;
    }
    .second_article .news_headline{
        left: 27px;
    }
    .third_article .news_headline{
        left: 35px;
    }
    .career_section > .plaid li{
        background-position: center;
    }
    .footer_contents{
        width: 100%;
    }
    footer hr.container{
        margin: 0 20px;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        padding: 0 100px;
        box-sizing: border-box;
    }
    header > nav > .mainmenu{
        display: none;
    }
    .mainslides{
        height: 215px;
        position: relative;
        overflow: hidden;
    }
    .main_tt{
        font-size: 18px;
        line-height: 24px;
        margin-top: 27px;
    }
    .slides .slide1{
        background-size: cover;
    }
}