/****************** MAIN PAGE ******************/

@media screen and (max-width: 1170px){
    .container{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .main_tt{
        font-size: 34px;
        line-height: 56px;
        margin-left: 100px;
    }
    .info_section > ul{
        width: 80%;
    }
    .secondary_btn{
        padding: 0 20px;
    }
    .news_headline{
        font-size: 16px;
    }
    .second_article .news_headline{
        left: 27px;
    }
    .third_article .news_headline{
        left: 35px;
    }
    .career_section > .plaid li{
        background-position: center;
    }
    .footer_contents{
        width: 100%;
    }
    footer hr.container{
        margin: 0 20px;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    nav .mainmenu{
        font-size: 12px;
        gap: 20px;
    }
    .mainslides{
        height: 215px;
        position: relative;
        overflow: hidden;
    }
    .main_tt{
        font-size: 18px;
        line-height: 24px;
        margin-top: 27px;
    }
    .slides .slide1{
        background-size: cover;
    }
    .slides li:after{
        content: '';
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .news_section > .news_list{
        display: flex;
        flex-direction: column;
    }
    .news_section > .news_list li{
        width: 100%;
        height: 485px;
    }
    .news_section > .news_list > li img{
        width: 100%;
        object-fit: cover;
    }
    .news_headline{
        font-size: 24px;
        margin-left: 160px;
    }
    .first_article .news_headline{
        width: 435px;
        height: 56px;
    }
    .second_article .news_headline{
        width: 420px;
    }
    .third_article .news_headline{
        width: 400px;
        height: 90px;
    }
    .news_section > p:last-child span{
        display: none;
    }
    .news_section > .secondary_btn_wrapper .secondary_btn{
        border: 1px solid #1e417b;
        border-radius: 26.5px;
        box-sizing: border-box;
    }
    .news_section > .secondary_btn_wrapper .secondary_btn, .secondary_btn:before{
        content: '기사 ';
        font-size: 24px;
        font-weight: bold;
        color: #1e417b;
        line-height: 54px;
        width: 100%;
        text-align: center;
    }
    .news_section > p:last-child{
        display: flex;
        justify-content: center;
    }

    .info_section h3{
        font-size: 36px;
        padding: 27px 0;
    }
    .info_section .icons{
        flex-direction: column;
        align-items: center;
    }
    .info_section > .icons > li > p{
        margin: 0;
        font-size: 1rem;
        width: 70px;
    }
    .info_section > .icons > li > span{
        font-size: 42px;
        width: 50px;
    }
    .info_section > .icons > li > i{
        font-size: 32px;
        margin-bottom: 0;
        width: 50px;
    }
    .info_section > .icons > li > .number{
        font-size: 1rem;
        width: 50px;
    }
    .info_section > .icons li{
        display: flex;
        gap: 100px;
        align-items: center;
    }

    .career_section{
        flex-direction: column;
        width: 100%;
        height: 1025px;
        background-color: rgba(148, 148, 148, 0.2);
        margin-top: 81px;
        position: relative;
        align-items: center;
    }
    .career_section .career_text{
        margin: 0;
        width: 100%;
        background-color: rgba(1, 115, 188, 0);
    }
    .career_section .career_text h2{
        font-size: 30px;
        padding-top: 27px;
        color: black;
    }
    .career_section .career_text p{
        font-size: 18px;
        text-align: center;
        margin: 27px auto 0;
        padding: 0;
        width: 80%;
        line-height: 30px;
        color: black;
    }
    .career_section .plaid .img_col1_3, .img_col2_3, .img_col3_3{
        display: none;
    }
    .career_section .plaid{
        margin-top: 0;
        width: 100%;
        gap: 27px;
        justify-content: center;
    }
    .career_section .plaid .text{
        height: 80px;
    }
    .career_section .plaid .text:first-child{
        order: 1;
    }
    .career_section .plaid .img_col1_2{
        order: 2;
        background-size: cover;
    }
    .career_section .plaid .text:nth-child(7){
        order: 3;
    }
    .career_section .plaid .img_col3_2{
        order: 4;
        background-size: cover;
        background-position: 0 -80px;
    }
    .career_section .plaid .text:nth-child(5){
        order: 5;
    }
    .career_section .plaid .img_col2_1{
        order: 6;
        background-size: cover;
        background-position: 0 -110px;
    }
    .career_section .plaid li{
        width: 80%;
        height: 135px;
    }

    .service_section{
        margin-bottom: 81px;
    }
    .service_section .service_part_container{
        flex-direction: column;
        margin-top: 81px;
    }
    .service_section .service_part_container li{
        width: 100%;
        height: 108px;
    }
    .service_section .service_part_container li img{
        width: 100%;
        object-fit: cover;
    }
    .service_section .service_part_container > li:hover img{
        transform: scale(1);
    }
    .service_section > .service_part_container li:after{
        content: '';
        display: block;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .service_section > .service_part_container li p{
        font-size: 36px;
        font-weight: bold;
        position: absolute;
        color: #fff;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }

    footer .container .footer_contents{
        flex-direction: column;
        gap: 27px;
    }
    .footer_contents .footer_logo a{
        margin-top: 27px;
    }
    .helpful_link{
        margin-top: 0;
        columns: 1;
    }
    .helpful_link li:first-child{
        padding-top: 0;
    }
    .footer_contents > .social_logo{
        margin-top: 0;
    }
    .footer_contents > .family_site{
        margin-top: 0;
    }
}

@media screen and (max-width: 480px){
    .container{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    nav .mainmenu{
        font-size: 12px;
        gap: 20px;
    }
    .mainslides{
        height: 215px;
        position: relative;
        overflow: hidden;
    }
    .main_tt{
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slides .slide1{
        background-size: cover;
    }
    .slides li:after{
        content: '';
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .news_section > .news_list li{
        width: 100%;
        height: 350px;
    }
    .news_section > .news_list > li img{
        width: 100%;
        object-fit: cover;
    }
    .news_headline{
        color: white;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        margin-left: 60px;
    }

    .info_section h3{
        font-size: 30px;
    }
    .info_section > .icons > li > p{
        font-size: 14px;
    }
    .info_section > .icons > li > .number{
        font-size: 14px;
    }

    .career_section{
        width: 100%;
        height: 945px;
    }
    .career_section .career_text h2{
        font-size: 24px;
    }
    .career_section .career_text p{
        font-size: 1rem;
        line-height: 24px;
    }
    .career_section .plaid .text{
        font-size: 18px;
        height: 54px;
    }
    .career_section .plaid .img_col3_2{
        background-position: center;
    }
    .career_section .plaid .img_col2_1{
        background-position: center;
    }

    .service_section .service_part_container{
        gap: 27px;
    }
    .service_section .service_part_container li{
        height: 270px;
    }
}


/****************** CAREER PAGE ******************/

@media screen and (max-width: 1170px){
    .career_top_section > .career_main_tt{
        left: 5%;
    }
    .top_promotion_text h2 br{
        display: none;
    }
    .job_search{
        background-position: center;
    }
    .job_search h2{
        text-align: center;
    }
    .inner_content{
        gap: 160px;
    }
    .main_promotion_container .promotion{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .career_top_section{
        height: 350px;
    }
    .career_main_tt{
        font-size: 60px;
        line-height: 48px;
    }
    .career_main_tt span{
        font-size: 48px;
    }
    .top_promotion{
        flex-direction: column;
        align-items: center;
    }
    .top_promotion h2{
        font-size: 18px;
        line-height: normal;
    }
    .top_promotion p{
        font-size: 14px;
        margin-top: 20px;
    }
    .top_promotion_text{
        text-align: center;
        margin-bottom: 27px;
    }
    .top_promotion_img{
        width: 432px;
        height: 407px;
    }

    .job_search{
        height: 674px;
    }
    .job_search h2{
        font-size: 24px;
        padding-top: 54px;
    }
    .inner_content{
        flex-direction: column;
        align-items: center;
        gap: 54px;
    }

    .main_promotion h2{
        font-size: 24px;
    }
    .main_promotion_container .promotion{
        flex-direction: column;
        width: 100%;
        height: 350px;
    }
    .promotion_img{
        height: calc(60% + 5px);
        width: 100%;
    }
    .text_box{
        height: 135px;
    }
    .text_box .promotion_header, .primary_btn{
        font-size: 1rem;
        margin-left: 60px;
    }
    .text_box h3{
        top: 27px;
    }
    .text_box h3::before{
        width: 50px;
    }
    .text_box a{
        margin-left: 60px;
    }
}

@media screen and (max-width: 480px){
    .career_top_section{
        height: 296px;
    }
    .career_main_tt{
        font-size: 48px;
    }
    .career_main_tt span{
        font-size: 36px;
    }
    .top_promotion{
        margin-top: 54px;
    }
    .top_promotion h2{
        font-size: 14px;
    }
    .top_promotion p{
        font-size: 12px;
    }
    .top_promotion_img{
        width: 370px;
        height: 350px;
    }
    .job_search h2{
        font-size: 18px;
        width: 280px;
    }
    .inner_content{
        padding-top: 108px;
    }
    .main_promotion h2{
        font-size: 18px;
        margin: 54px 0 27px 0;
    }
    .text_box .promotion_header, .primary_btn{
        font-size: 14px;
    }
}


/****************** CAREER SEARCH PAGE ******************/

@media screen and (max-width: 1170px){
    .selection{
        width: 30%;
    }
    .search_page_banner .search_box label{
        margin: 0 auto;
    }
    .job_vacancy_container{
        padding: 0;
    }
}

@media screen and (max-width: 960px){
    .job_vacancy .job_vacancy_main_tt{
        font-size: 18px;
    }
    .job_vacancy_container .Recruitment_notice_box h3{
        font-size: 1rem;
    }
    .Recruitment_notice_box .read_more_btn{
        right: 35px;
    }
}

@media screen and (max-width: 768px){
    .search_page_banner{
        height: 162px;
    }
    .search_box :not(.search_btn){
        display: none;
    }
    .search_page_banner .search_btn{
        font-size: 12px;
        width: 100px;
        line-height: 27px;
        bottom: 54px;
    }
    
    .Recruitment_notice_box .read_more_btn{
        right: 20px;
    }
    .job_vacancy_container .job_content2 h3{
        width: 430px;
        padding: 0;
    }
    .job_vacancy_container .Recruitment_notice_box p{
        font-size: 12px;
    }
}

/****************** CAREER UPLOAD PAGE ******************/

@media screen and (max-width: 1170px){
    .main_contents > h2{
        text-align: center;
    }
    .outer_container{
        width: 80%;
    }
    .inner_container{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    main > .main_contents{
        width: 100%;
        height: 512px;
    }
    .main_contents > h2{
        font-size: 36px;
    }
    .outer_container{
        width: 80%;
        height: 323px;
    }
    .inner_container{
        width: 80%;
        height: 267px;
    }
    .inner_container p{
        font-size: 12px;
    }
    .main_contents > h2{
        padding-top: 27px;
        line-height: 36px;
    }
    .inner_container i{
        font-size: 72px;
    }
    .inner_container .select_file{
        font-size: 10px;
        padding: 7px 18px;
    }
}

@media screen and (max-width: 480px){
    .main_contents > h2{
        font-size: 24px;
    }
    .inner_container i{
        font-size: 60px;
    }
    .inner_container p{
        font-size: 10px;
    }
}