@import url(normalize.css);
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */

body{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f7f7f7;
}
.en_lang{
    font-family: "Poppins", sans-serif;
}
.dropdown{
    display: none;
}

.hidden{
    display: none;
}


header{
    padding: 27px 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > .search i{
    position: absolute;
    right: 80px;
    bottom: 6px;
    cursor: pointer;
}
.container > .lang_select{
    display: flex;
    gap: 10px;
    text-transform: uppercase;
}
.container > .lang_select .selected{
    font-weight: bold;
}
.logo a{
    background: url(../images/logo.jpg) no-repeat;
    display: inline-block;
    text-indent: 9999em;
    width: 170px;
    height: 30px;
}
nav .mainmenu{
    display: flex;
    gap: 40px;
}


.top_section{
    position: relative;
    margin-bottom: 81px;
}
.mainslides{
    height: 730px;
    position: relative;
    overflow: hidden;
}
.slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slides li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:no-repeat center top / cover;
    z-index: 1;
    transition: 0.5s;
    opacity: 0;
}
.slides li.active{
    opacity: 1;
}
.slides li:after{
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.slides .slide1{
    background-image:url(../images/A330\ Exterior.jpg);
    left: 0;
}
.slides .slide2{
    background-image:url(../images/IMG_0474.jpg);
    left: 100%;
}
.slides .slide3{
    background-image:url(../images/SAF2019_0307931.jpg);
    left: 200%;
}
.slides > .slide1 > .main_tt{
    color: white;
    font-size: 60px;
    line-height: 72px;
    text-align: left;
    width: 820px;
    height: 160px;
    margin-left: 108px;
    position: absolute;
    top: calc(50% - 80px);
}
.pager{
    display: flex;
    position: absolute;
    bottom: 267px;
    transform:translateX(-50%);
    gap: 30px;
    align-items: center;
    z-index: 3;
    left: 200px;
}
.pager a{
    width: 40px;
    height: 3px;
    background-color: white;
    text-indent: -9999em;
    background-clip: padding-box;
    display: inline-block;
}
.pager a.active{
    background-color: #0173bc;
}


main .news_section{
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
.news_section h3{
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    color: #1e417b;
    text-align: center;
}
.news_section p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 54px;
}
.news_section p span{
    font-weight: bold;
}
.news_section > .news_list{
    display: flex;
    gap: 60px;
}
.news_section > .news_list li{
    width: 350px;
    height: 512px;
    position: relative;
}

.news_section > .news_list .first_article{
    background-image: url(../images/cDLfmy11IwVD5ReaYVB.jpg);
}

.news_section > .news_list .second_article{
    background-image: url(../images/상륙공격헬기_KAI_사보_2월호.jpg);
}
.news_section > .news_list .third_article{
    background-image: url(../images/0866d498-0001-0004-0000-000000680590_w1528_r1.5242509161457212_fpx29.52_fpy55.jpg);
}
.news_headline{
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.first_article .news_headline{
    width: 275px;
    height: 53px;
    position: absolute;
    left: 40px;
    bottom: 53px;
}
.second_article .news_headline{
    width: 300px;
    height: 100px;
    position: absolute;
    left: 40px;
    bottom: 5px;
}
.third_article .news_headline{
    width: 285px;
    height: 85px;
    position: absolute;
    left: 40px;
    bottom: 15px;
}
.news_section > p a{
    font-size: 18px;
    position: absolute;
    left: 0;
    margin-top: 27px;
}



.info_section{
    width: 100%;
    height: 377px;
    margin-top: 81px;
    background-color: #0173bc;
}
.info_section h3{
    color: white;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    padding: 54px 0;
}
.info_section > .icons{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.info_section > .icons > li > span{
    font-size: 54px;
}
.info_section > .icons > li > i{
    font-size: 40px;
    margin-bottom: 14px;
}
.info_section > .icons > li > p{
    font-size: 24px;
    margin: 27px 0;
}
.info_section > .icons > li > .number{
    font-size: 30px;
}
.career_section{
    width: 100%;
    display: flex;
}
.career_section .career_text{
    margin-top: 162px;
    width: 791px;
    height: 627px;
    background-color: #0173bc;
}
.career_section .career_text h2{
    color: white;
    font-size: 60px;
    padding-top: 189px;
    text-align: center;
}
.career_section .career_text p{
    color: white;
    font-size: 24px;
    line-height: 30px;
    width: 465px;
    height: 118px;
    margin: 27px auto;
}
.career_section .plaid{
    width: 1130px;
    height: 780px;
    margin: 81px 0;
}
.career_section .plaid li{
    width: 373px;
    height: 260px;
    background-color: white;
    box-sizing: border-box;
}
.career_section .plaid .text{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.career_section .plaid .img_col1_2{
    background-image: url(../images/linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg);
}
.career_section .plaid .img_col1_3{
    background-image: url(../images/christina-wocintechchat-com-swi1DGRCshQ-unsplash.jpg);
}
.career_section .plaid .img_col2_1{
    background-image: url(../images/jimmy-nilsson-masth-LOtb6vKN3Ac-unsplash.jpg);
}
.career_section .plaid .img_col2_3{
    background-image: url(../images/kevin-grieve-QCdRhVj7N8w-unsplash.jpg);
}
.career_section .plaid .img_col3_2{
    background-image: url(../images/thisisengineering-raeng-TXxiFuQLBKQ-unsplash.jpg);
}
.career_section .plaid .img_col3_3{
    background-image: url(../images/jason-goodman-LR5CYw3AQNo-unsplash.jpg);
}

